body {
    font-family:Arial, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 140%;
}
a {
    color: #000000;
}
a:hover {
    color: darkblue;
    text-decoration: none;
}
nav {
    text-decoration: none;
}
h1 {
    text-align: center;
}
